certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==41.0.7
Deprecated==1.2.14
ecdsa==0.18.0
idna==3.6
jwcrypto==1.5.0
pyasn1==0.5.1
pycparser==2.21
python-jose==3.3.0
requests==2.31.0
rsa==4.9
six==1.16.0
urllib3==2.1.0
wrapt==1.16.0

